.header{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}

.container { 
    padding: 10px;
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
}

.buttons{
    display: flex;


}

.buttons img{
    margin-right: 20px;
    height: 30px;
    
}

.h{
    all: unset;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: #190064;
}

  